In [ ]:
import logging;

logging.basicConfig(level=logging.INFO)
logging.getLogger().setLevel(level=logging.INFO)

import warnings
warnings.simplefilter("ignore")

In [1]:
from greenguard.demo import generate_raw_readings

target_times = generate_raw_readings('raw_demo')

2020-02-03 12:49:43,764 - INFO - demo - Generating file raw_demo/T001/2013-01-.csv
2020-02-03 12:49:44,277 - INFO - demo - Generating file raw_demo/T001/2013-02-.csv
2020-02-03 12:49:44,810 - INFO - demo - Generating file raw_demo/T001/2013-03-.csv
2020-02-03 12:49:45,345 - INFO - demo - Generating file raw_demo/T001/2013-04-.csv
2020-02-03 12:49:45,885 - INFO - demo - Generating file raw_demo/T001/2013-05-.csv
2020-02-03 12:49:46,417 - INFO - demo - Generating file raw_demo/T001/2013-06-.csv
2020-02-03 12:49:46,954 - INFO - demo - Generating file raw_demo/T001/2013-07-.csv
2020-02-03 12:49:47,492 - INFO - demo - Generating file raw_demo/T001/2013-08-.csv
2020-02-03 12:49:48,017 - INFO - demo - Generating file raw_demo/T001/2013-09-.csv
2020-02-03 12:49:48,543 - INFO - demo - Generating file raw_demo/T001/2013-10-.csv
2020-02-03 12:49:49,094 - INFO - demo - Generating file raw_demo/T001/2013-11-.csv
2020-02-03 12:49:49,606 - INFO - demo - Generating file raw_demo/T001/2013-12-.csv

In [2]:
target_times.shape

(353, 3)

In [3]:
target_times.head()

  turbine_id cutoff_time  target
0       T001  2013-01-12       0
1       T001  2013-01-13       0
2       T001  2013-01-14       0
3       T001  2013-01-15       1
4       T001  2013-01-16       0

In [4]:
target_times.target.mean()

0.3002832861189802

In [5]:
target_times.dtypes

turbine_id             object
cutoff_time    datetime64[ns]
target                  int64
dtype: object

In [6]:
from greenguard.loaders import CSVLoader

In [7]:
import numpy as np

csv_loader = CSVLoader('raw_demo')
target_times, readings = csv_loader.load(target_times, '1d')

2020-02-03 12:50:11,263 - INFO - csv - Loaded 1306052 readings from turbine T001
2020-02-03 12:50:11,275 - INFO - csv - Loaded 1306052 turbine readings
2020-02-03 12:50:11,500 - INFO - targets - Dropped 2 invalid targets

In [8]:
readings.shape

(1306052, 4)

In [9]:
readings.head()

  turbine_id signal_id  timestamp  value
0       T001       S01 2013-01-11  209.0
1       T001       S02 2013-01-11  193.0
2       T001       S03 2013-01-11  177.0
3       T001       S04 2013-01-11  188.0
4       T001       S05 2013-01-11  150.0

In [10]:
readings.dtypes

turbine_id            object
signal_id             object
timestamp     datetime64[ns]
value                float64
dtype: object

In [11]:
target_times.shape

(351, 3)

In [12]:
csv_loader = CSVLoader('raw_demo', rule='4h', aggregation='mean', unstack=True)
target_times, readings = csv_loader.load(target_times, '15d')

2020-02-03 12:50:31,423 - INFO - csv - Loaded 1306052 readings from turbine T001
2020-02-03 12:50:31,427 - INFO - csv - Resampling: 4h - mean
2020-02-03 12:50:31,689 - INFO - csv - Loaded 2119 turbine readings
2020-02-03 12:50:31,843 - INFO - targets - Dropped 14 invalid targets

In [13]:
readings.shape

(2119, 28)

In [14]:
readings.head()

,turbine_id,timestamp,value_S01,value_S02,value_S03,value_S04,value_S05,value_S06,value_S07,value_S08,...,value_S17,value_S18,value_S19,value_S20,value_S21,value_S22,value_S23,value_S24,value_S25,value_S26
0,T001,2013-01-10 00:00:00,253.041667,268.250000,268.041667,297.166667,234.666667,261.916667,206.791667,3.198335e+06,...,9.079167,3.134510e+06,42.416667,44.958333,44.833333,49.625000,39.208333,43.833333,34.625,293.166667
1,T001,2013-01-10 04:00:00,572.083333,555.291667,538.666667,592.291667,557.166667,534.000000,544.250000,3.199514e+06,...,10.837500,3.142505e+06,62.083333,62.500000,63.625000,63.541667,61.333333,62.541667,54.000,421.208333
2,T001,2013-01-10 08:00:00,688.791667,696.791667,706.625000,750.791667,714.250000,683.333333,658.166667,3.201449e+06,...,12.754167,3.155809e+06,92.208333,94.958333,94.666667,97.333333,94.125000,93.583333,86.375,638.291667
3,T001,2013-01-10 12:00:00,396.333333,418.500000,415.791667,438.541667,382.250000,364.666667,320.333333,3.203319e+06,...,10.916667,3.168640e+06,55.750000,60.083333,58.583333,61.291667,52.791667,52.791667,44.000,376.125000
4,T001,2013-01-10 16:00:00,390.458333,408.875000,409.500000,458.000000,415.583333,363.000000,364.458333,3.204504e+06,...,10.412500,3.176672e+06,49.958333,53.875000,54.458333,56.750000,52.708333,46.708333,47.625,354.750000

In [15]:
target_times.shape

(337, 3)